{% extends 'base.html' %}
{% block content %}
                {% for blog in blogs %}
                <div class="post-preview">
                    <a href="post/{{blog.id}}">
                        <h2 class="post-title">
                           {{blog.title}}
                        </h2>
                      
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{blog.author}} </a> {{blog.date}}</p>
                </div>
                {% endfor %}
{% endblock %}
              